body{
  background-color:lightgray;
  font-size: 25px;
}
#calculator{
  border: 1.5px solid rgb(160, 157, 157);
  border-radius: 5px;
  width: 200px;
  margin-left: 42%;
  margin-top: 10px;
}
#display{
  margin: 10px;
  width: 85%;
  font-size: 25px;
  background-color: black;
  color: white;
}
.button-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.button{
  width: 45px;
  height: 45px;
  margin: 3px; 
  background-color: rgb(196, 233, 234);
}
h2{
  text-align: center;
}